[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
requests = "*"
pyyaml = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
